* {
    box-sizing: border-box;
}

/*import custom fonts*/
@font-face {
    font-family: 'inter-regular';
    src: url("../fonts/Inter-Regular-slnt=0.ttf");
}

@font-face {
    font-family: 'inter-medium';
    src: url("../fonts/Inter-Medium-slnt=0.ttf");
}

@font-face {
    font-family: 'inter-bold';
    src: url("../fonts/Inter-Bold-slnt=0.ttf");
}

@font-face {
    font-family: 'sf-medium';
    src: url("../fonts/SFPRODISPLAYMEDIUM.OTF");
}

@font-face {
    font-family: 'sf-bold';
    src: url("../fonts/SFPRODISPLAYBOLD.OTF");
}

/*main styles*/
body {
    font-family: "Inter-Regular";
    background-color: #000000;
}

/*text selection color and background*/
::selection {
    color: #060606;
    background: #aaa;
}

.link {
    text-decoration: none;
    color: #2997ff;
}

.link:hover {
    text-decoration: underline;
}

/*navigation and header styles*/
nav {
    margin: 0.8rem 0;
    padding: 0 1.6rem;
    color: #cbcbcb;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

nav ul li a {
    color: #cbcbcb;
    text-decoration: none;
    font-size: 0.688rem;
}

.nav-links {
    display: none;
}

.nav-icons {
    width: 0.938rem;
    height: 0.938rem;
}

.apple-icon:hover {
    color: #fff;
}

.nav-banner-1 {
    height: 3rem;
    padding: 0 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #141416;
}

.nav-banner-2 {
    padding: 0.6rem 1.6rem;
    border-top: 1px solid #3c3c3c;
    background-color: #141416;
}

.nav-banner-1 p {
    margin: 0 auto 0 0;
    color: #eaeaea;
    font-family: "inter-medium";
    font-size: 0.875rem;
}

.nav-banner-2 p {
    text-align: center;
    font-family: "inter-regular";
    color: #eaeaea;
    font-size: 0.75rem;
    margin: 0;
    line-height: 1.5em;
}

.nav-btn {
    border: none;
    font-family: "inter-regular";
    padding: 0.313rem 0.813rem;
    margin-left: 0.625rem;
    border-radius: 1.25rem;
    background-color: #0070e3;
    color: #fff;
    font-size: 0.688rem;
    text-transform: capitalize;
}

.nav-btn:hover {
    cursor: pointer;
    background-color: #0050a2;
}

.banner-links {
    display: none;
}

/*end of header styles*/

/*feature content*/

.feature-image {
    margin: 2.813rem 0 0 0;
    width: 100%;
}

section {
    margin: 0 1.063rem;
}

.main-header-text {
    text-align: center;
}

.main-header-text h2 {
    color: #f5f5f6;
    font-size: 1.125rem;
    margin: 0;
    font-family: "sf-medium";
}

.main-header-text h3 {
    font-size: 1.75rem;
    margin: 0.625rem 0;
    font-family: "sf-bold";
    background: -webkit-radial-gradient(circle, #d8d9e6, #2e2e31);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main-header-text p,
.m1-section p {
    text-align: center;
    font-family: 'inter-medium';
    color: #a1a1a6;
    font-size: 0.875rem;
    line-height: 1.563rem;
}

.m1-apple-heading {
    display: flex;
    align-items: flex-start;
}

.apple-2 {
    width: 1.7rem;
    height: 1.7rem;
}

.m1-section {
    margin-top: 4.5rem;
    margin-left: 2rem;
    position: relative;
}

.m1-section h2 {
    font-size: 1.75rem;
    color: #9b9b9b;
    font-family: "sf-bold";
    margin-bottom: 0.625rem;
}

.m1-section h3 {
    margin: 0;
    color: #f4f4f4;
    font-size: 1.6rem;
    font-family: "sf-bold";
}

.m1-section p {
    color: #a1a1a6;
    font-size: 0.938rem;
    line-height: 1.5rem;
    text-align: left;
}

.m1-small {
    width: 5.625rem;
}

.full {
    width: 100%;
}

#event-link {
    color: #ddd;
}

#event-link a {
    color: white;
    text-decoration: none;
}

#event-link a:hover {
    text-decoration: underline;
}

.m1-chip-big {
    width: 100%;
}

/*media queries*/

/*small devices*/
@media (min-width: 640px) {
    nav {
        padding: 0 3rem;
    }

    .nav-banner-1 {
        padding: 0 3rem;
    }

    .nav-banner-1 p {
        font-family: "inter-medium";
        font-size: 0.938rem;
    }

    .nav-banner-2 {
        height: 3rem;
        padding: 0 1.6rem;
        border-top: 1px solid #3c3c3c;
        background-color: #141416;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .main-header-text h2 {
        font-size: 1.25rem;
    }

    .main-header-text {
        margin: auto 6rem;
    }

    .main-header-text p,
    .m1-section p {
        font-size: 0.938rem;
        line-height: 1.75rem;
    }

    .main-header-text h3 {
        font-size: 2.875rem;
    }

    .m1-small-section {
        display: flex;
        justify-items: center;
        justify-content: center;
        flex-direction: row;
    }

    .m1-small {
        width: 3.75rem;
        height: 3.75rem;
    }

    .m1-apple-heading {
        display: flex;
        align-items: flex-start;
    }

    .apple-2 {
        width: 2.8rem;
        height: 2.8rem;
    }

    .m1-section {
        margin: 6rem 7rem 0 3rem;
    }

    .m1-section h2 {
        font-size: 2.875rem;
        margin-bottom: 0.625rem;
    }

    .m1-section h3 {
        margin: 0;
        font-size: 2.875rem;
    }

    .m1-image {
    margin-top: -3.125rem;
}

}

/*medium devices*/
@media (min-width: 768px) {
    .mobile-menu {
        display: none;
    }

    nav {
        margin: 0.625rem 0;
        padding: 0 3rem;
    }

    .nav-links {
        display: block;
    }

    .banner-links {
        display: block;
        color: #cbcbcb;
        text-decoration: none;
        font-size: 0.688rem;
        padding: 0 0.625rem;
    }

    .feature-image {
        margin: 5rem 0 0 0;
    }

    .active {
        color: #969697;
    }

    .nav-banner-1 p {
        font-size: 1.12rem;
    }

    .nav-banner-2 p {
        font-size: 0.75rem;
    }

    .main-header-text {
        margin: auto 5rem;
    }

    .main-header-text p,
    .m1-section p {
        font-size: 1.25rem;
        line-height: 1.938rem;
    }

    .main-header-text h3 {
        font-size: 3.75rem;
    }

    .main-header-text h2 {
        font-size: 1.563rem;
    }

    .m1-small {
        width: 5rem;
        height: 5rem;
    }

    .apple-2 {
        width: 3.6rem;
        height: 3.6rem;
    }

    .m1-section {
        margin: 7rem 6rem 0 3rem;
    }

    .m1-section h2 {
        font-size: 3.75rem;
        margin-bottom: 0.625rem;
    }

    .m1-section h3 {
        margin: 0;
        font-size: 3.75rem;
    }
}

/*large devices*/
@media (min-width: 1024px) {
    nav {
        padding: 0 5.5rem;
    }

    nav ul li a {
        font-size: 0.75rem;
    }

    nav ul li a:hover {
        color: #fff;
    }

    .nav-btn {
        font-size: 0.75rem;
    }

    .banner-links {

        font-size: 0.75rem;
    }

    .nav-banner-1 {
        padding: 0 5.5rem;
    }

    .nav-banner-2 p {
        font-size: 0.875rem;
    }

    .main-header-text {
        margin: auto 10rem;
    }

    .main-header-text p,
    .m1-section p {
        font-size: 1.313rem;
        line-height: 1.938rem;
    }

    .main-header-text h3 {
        font-size: 4.375rem;
    }

    .main-header-text h2 {
        font-size: 1.875rem;
    }

    .m1-small {
        width: 5.625rem;
        height: 5.625rem;
    }

    .apple-2 {
        width: 4.1rem;
        height: 4.1rem;
    }

    .m1-section {
        margin: 8rem 10rem 0 7rem;
    }

    .m1-section h2 {
        font-size: 4.3rem;
        margin-bottom: 0.625rem;
    }

    .m1-section h3 {
        margin: 0;
        font-size: 4.3rem;
    }

    .m1-image {
    margin-top: -5.5rem;
}

}

/*extra large devices*/
@media (min-width: 1280px) {
    nav {
        padding: 0 11rem;
    }

    .nav-banner-1 {
        padding: 0 11rem;
    }

    .main-header-text h3 {
        font-size: 5.5rem;
    }

    .main-header-text {
        margin: auto 13rem;
    }

    .main-header-text p,
    .m1-section p {
        font-size: 1.5rem;
        line-height: 2.313rem;
    }

    .main-header-text h2 {
        font-size: 1.938rem;
    }

    .m1-small {
        width: 6.25rem;
        height: 6.25rem;
    }

    .apple-2 {
        width: 4.1rem;
        height: 4.1rem;
    }

    .m1-section {
        margin: 8rem 23rem 0 12rem;
    }

    .m1-section h2 {
        font-size: 4.375rem;
        margin-bottom: 0.625rem;
    }

    .m1-section h3 {
        margin: 0;
        font-size: 4.375rem;
    }

    .m1-image {
    margin-top: -6.5rem;
}
}

/*big screens*/
@media (min-width: 1536px) {
    /*.main-header-text h3 {
        font-size: rem;
    }*/
}