* {
    box-sizing: border-box;
}

/*import custom fonts*/
@font-face {
    font-family: 'inter-regular';
    src: url("../fonts/Inter-Regular-slnt=0.ttf");
}

@font-face {
    font-family: 'inter-medium';
    src: url("../fonts/Inter-Medium-slnt=0.ttf");
}

@font-face {
    font-family: 'inter-bold';
    src: url("../fonts/Inter-Bold-slnt=0.ttf");
}

@font-face {
    font-family: 'sf-medium';
    src: url("../fonts/SFPRODISPLAYMEDIUM.OTF");
}

@font-face {
    font-family: 'sf-bold';
    src: url("../fonts/SFPRODISPLAYBOLD.OTF");
}

/*main styles*/
body {
    font-family: "Inter-Regular";
    background-color: #000000;
}

/*text selection color and background*/
::selection {
    color: #060606;
    background: #aaa;
}

.link {
    text-decoration: none;
    color: #2997ff;
}

.link:hover {
    text-decoration: underline;
}

/*navigation and header styles*/
nav {
    margin: 12.8px 0;
    padding: 0 1.6rem;
    color: #cbcbcb;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

nav ul li a {
    color: #cbcbcb;
    text-decoration: none;
    font-size: 12px;
}

.nav-links {
    display: none;
}

.nav-icons {
    width: 15px;
    height: 15px;
}

.apple-icon:hover {
    color: #fff;
}

.nav-banner-1 {
    height: 3rem;
    padding: 0 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #141416;
}

.nav-banner-2 {
    /*height: 3rem;*/
    padding: 0.6rem 1.6rem;
    border-top: 1px solid #3c3c3c;
    background-color: #141416;
    /*display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;*/
}

.nav-banner-1 p {
    margin: 0 auto 0 0;
    color: #eaeaea;
    font-family: "inter-medium";
    font-size: 14px;
}

.nav-banner-2 p {
    text-align: center;
    font-family: "inter-regular";
    color: #eaeaea;
    font-size: 12px;
    margin: 0;
    line-height: 18px;
}

.nav-btn {
    border: none;
    font-family: "inter-regular";
    padding: 5px 13px;
    margin-left: 10px;
    border-radius: 20px;
    background-color: #0070e3;
    color: #fff;
    font-size: 12px;
    text-transform: capitalize;
}

.nav-btn:hover {
    cursor: pointer;
    background-color: #0050a2;
}

.banner-links {
    display: none;
}

.feature-image {
    margin: 45px 0 20px 0;
    width: 100%;
}

section {
    margin: 0 16px;
}

.main-header-text {
    text-align: center;
    line-height: 24px;
}

.main-header-text h2 {
    color: #f5f5f6;
    font-size: 20px;
    margin: 0;
    font-family: "sf-medium";
}

.main-header-text h3 {
    color: #a1a1a6;
    font-size: 28px;
    margin: 15px 0;
    font-family: "sf-bold";
}

.main-header-text p {
    color: #a1a1a6;
    font-size: 15px;
}

.m1-section p {
    color: #a1a1a6;
    font-size: 15px;
    line-height: 24px;
}

.m1-small {
    width: 70px;
}

.m1-section {
    text-align: center;
}

.m1-section h2 {
    color: #cbcbcb;
}

.m1-section h3 {
    color: #fff;
    font-size: 28px;
}

.full {
    width: 100%;
}



/*media queries*/

/*small devices*/
@media (min-width: 640px) {
    nav {
        padding: 0 3rem;
    }

    .nav-banner-1 {
        padding: 0 3rem;
    }

    .nav-banner-1 p {
        font-family: "inter-medium";
        font-size: 15px;
    }

    .nav-banner-2 {
        height: 3rem;
        padding: 0 1.6rem;
        border-top: 1px solid #3c3c3c;
        background-color: #141416;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

}

/*medium devices*/
@media (min-width: 768px) {
    .mobile-menu {
        display: none;
    }

    nav {
        margin: 10px 0;
        padding: 0 3rem;
    }

    .nav-links {
        display: block;
    }

    .banner-links {
        display: block;
        color: #cbcbcb;
        text-decoration: none;
        font-size: 12px;
        padding: 0 10px;
    }

    .nav-banner-1 p {
        font-size: 18px;
    }

    .nav-banner-2 p {
        font-size: 13px;
    }
}

/*large devices*/
@media (min-width: 1024px) {
    nav {
        padding: 0 5.5rem;
    }

    nav ul li a:hover {
        color: #fff;
    }

    .nav-banner-1 {
        padding: 0 5.5rem;
    }

    .nav-banner-2 p {
        font-size: 14px;
    }

}

/*extra large devices*/
@media (min-width: 1280px) {
    nav {
        padding: 0 11rem;
    }

    .nav-banner-1 {
        padding: 0 11rem;
    }


}

/*big screens*/
@media (min-width: 1536px) {}